page-list {
  .background, .background .pane, .background .item, .background .item-complex .item-content {
    background-color: yellow;
  }

  .content-ios {
      background-color: whitesmoke;
    }

    .card-ios
    {
          width: 100%;
          margin: 15px 0px 15px 0px;
    }

}
